# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
env/

# Ignore PyCharm-specific files
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore outputs (optional)
outputs/

# Ignore system logs or temp files
*.log
